<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <!--            <pattern>%d{"HH:mm:ss,SSS"} [%p] [%t] %M\\(%F:%L\\) - %msg%n</pattern>-->
            <!--            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%10thread] %cyan(%-40logger{36}) - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} - [%thread] - [%5p] - %logger{25} - %12(ID: %8mdc{id}) - %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
